[Unit]
Description=GLM 4.7 Flash LLM
After=network.target

StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
Type=simple

User=francip
Group=francip

WorkingDirectory=/home/francip/src/models.server/glm-4.7-flash

Environment=PATH=/home/francip/.local/bin:/home/francip/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
# Environment=GGML_CUDA_ENABLE_UNIFIED_MEMORY=1

ExecStart=/home/francip/src/models.server/glm-4.7-flash/run.sh

Restart=always
RestartSec=15

TimeoutStopSec=60

ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/francip/src/api.server /home/francip/.cache /home/francip/.config /home/francip/data
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
